* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

main nav {
  height: 50px;
}

main nav .brand {
  border: solid 2px #3fa2ff;
  height: 40px;
  width: 110px;
  font-size: 1.4rem;
}

main nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

main nav .nav-link {
  letter-spacing: 2px;
}

main #navbarNav ul {
  float: left;
  margin-left: 10%;
  margin-top: 5vh;
  color: white;
}

main #navbarNav ul li {
  font-weight: 700;
  list-style-type: none;
  display: inline-block;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

main #navbarNav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 30px;
}

main #navbarNav ul li:hover {
  color: #000;
  cursor: pointer;
  background-color: #880022;
}

main #abc {
  width: 100%;
  height: 100vh;
  background-image: url(images/top.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #abc .navbar a {
  color: #fff !important;
}

main #abc .summer {
  margin-top: 20%;
  margin-left: 33%;
  position: absolute;
}

main #abc .summer .heading {
  color: #fff;
  position: absolute;
}

main #abc .summer .heading h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

main #abc .summer .heading #box {
  padding-top: 0;
  width: 500px;
  height: 130px;
  border-top: 10px solid #dc5e2c;
  border-left: 10px solid #dc5e2c;
  border-right: 10px solid #dc5e2c;
  margin-top: 2%;
  margin-bottom: 1%;
  text-align: center;
  font-size: 90px;
  font-weight: bold;
}

main #abc .summer .savings {
  position: absolute;
  -webkit-transform: translate(130%, 310%);
          transform: translate(130%, 310%);
  text-align: center;
  display: inline;
  color: white;
}

main #abc .summer .line1 {
  position: absolute;
  height: 10px;
  width: 140px;
  -webkit-transform: translate(0%, 1600%);
          transform: translate(0%, 1600%);
  background-color: #dc5e2c;
}

main #abc .summer .line2 {
  position: absolute;
  height: 10px;
  width: 140px;
  -webkit-transform: translate(257%, 1600%);
          transform: translate(257%, 1600%);
  background-color: #dc5e2c;
}

main #abc .owl-carousel .blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3rem 2rem;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .thirdblock .thirdblock-text {
  background-image: url(images/twitch.jpg);
  background-size: cover;
  height: 100vh;
  color: white;
  padding-left: 38%;
  padding-top: 5%;
}

main .forthblock {
  background-image: url(images/forthblock.jpg);
  background-size: cover;
  height: 100vh;
  padding-top: 5%;
  padding-right: 40%;
  color: white;
  font-size: x-large;
}

main .forthblock .forthblock-text {
  text-align: right;
}

main .popular-deals .deals-text {
  height: 250px;
  width: 100%;
  text-align: center;
  padding-top: 100px;
}

main .popular-deals .deal-content .item {
  margin-left: 50px;
}

main .popular-deals .deal-content .item img {
  width: 200px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .popular-deals .deal-content .item .contain {
  text-align: center;
  margin-top: 10px;
}

main .container .row {
  padding-top: 50px;
  text-align: center;
  color: #180127;
}

main .container .row img {
  height: 300px;
  width: 300px;
}

main .container .row .fortext {
  padding-top: 10px;
}

main .container .row .box-1 {
  background-color: #39638a;
  color: white;
  margin-right: 50px;
  text-align: left;
  padding: 25px;
}

main .container .row .box-1 h1 {
  font-size: 4em;
}

main .container .row .box-1 .row .col-7 {
  color: white;
  text-align: left;
}

main .container .row .box-1 .row .white-box {
  border: 10px solid;
  color: white;
  padding-top: 40px;
  padding-left: 5px;
}

main .container .row .box-2 {
  background-color: #aa3128;
  color: white;
  text-align: center;
  padding: 25px;
}

main .container .row .box-2 h1 {
  font-size: 4em;
}

main .container .row .white-boxs {
  border: 10px solid;
  padding: 50px 30px;
  width: 100px;
  height: 150px;
  color: white;
  margin: 50px 150px;
}

main .mail-box {
  background-image: url(images/forest.jpg);
  background-size: cover;
  height: 80vh;
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 40px;
  padding-top: 100px;
}

main .mail-box .row {
  width: 100%;
}

main .mail-box .row .col-2 input {
  margin-left: 230%;
  opacity: 0.1;
  color: white;
  height: 38px;
  width: 15em;
}

main .mail-box .row .col-1 {
  margin-left: 40%;
}

main .mail-box .row .col-1 .btn {
  border: 2px solid white;
  background-color: #39638a;
}

main .mail-box .partner {
  padding-top: 5%;
}

main .mail-box .partner img {
  margin-left: 17px;
  height: 60px;
  width: auto;
}

footer {
  background-color: #4a3c5a;
  height: 50vh;
}

footer .logo {
  text-align: center;
  color: white;
  padding-top: 5em;
}

footer .logo img {
  height: 25px;
  margin: 5px;
}

footer .logo h5 {
  padding-top: 1em;
  padding-bottom: 2em;
}

@media only screen and (max-width: 1024px) {
  main .mail-box {
    padding-top: 60px;
  }
}
/*# sourceMappingURL=main.css.map */