$border: #dc5e2c;
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

main {
  nav {
    height: 50px;
    .brand {
      border: solid 2px #3fa2ff;
      height: 40px;
      width: 110px;
      font-size: 1.4rem;
    }
    a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
    }
    .nav-link {
      letter-spacing: 2px;
    }
  }

  #navbarNav {
    ul {
      float: left;
      margin-left: 10%;
      margin-top: 5vh;

      color: white;
      li {
        font-weight: 700;
        list-style-type: none;
        display: inline-block;
        transition: 0.3s all;
        a {
          text-decoration: none;
          color: #fff;
          padding: 30px;
        }
      }
      li:hover {
        color: #000;
        cursor: pointer;
        background-color: rgb(136, 0, 34);
      }
    }
  }

  #abc {
    .navbar {
      // margin-bottom: 200px;
      a {
        color: #fff !important;
      }
    }
    width: 100%;
    height: 100vh;
    background-image: url(images/top.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    display: flex;
    .heading {
      color: #fff;
      margin-top: 20%;
      margin-left: 33%;
      position: absolute;

      h3 {
        font-size: 1.3rem;
        font-weight: 700;
        // padding-top: 20%;
        // margin-left: 33%;
        // position: absolute;
      }
      #box {
        padding-top: 0;
        width: 500px;

        height: 130px;
        border-top: 10px solid $border;
        border-left: 10px solid $border;
        border-right: 10px solid $border;
        // margin-left: 31%;
        margin-top: 2%;
        margin-bottom: 1%;
        text-align: center;
        font-size: 90px;
        font-weight: bold;
      }
    }
    .savings {
      position: absolute;
      z-index: 1;
      transform: translate(590px, 390px);
      // background:fixed;
      padding: 30px;
      text-align: center;
      display: inline;
      color: white;
    }
    .line1 {
      position: absolute;
      height: 10px;
      width: 140px;
      // margin-top: 150px;
      transform: translate(27px, 430px);
      margin-left: 31%;
      background-color: $border;
    }
    .line2 {
      position: absolute;
      height: 10px;
      width: 140px;
      // margin-top: 150px;
      transform: translate(387px, 430px);
      margin-left: 31%;
      background-color: $border;
    }

    .owl-carousel {
      .blog-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 80%;
        margin: 3rem 2rem;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .thirdblock {
    .thirdblock-text {
      background-image: url(images/twitch.jpg);
      background-size: cover;
      height: 100vh;
      color: white;
      padding-left: 38%;
      padding-top: 5%;
    }
  }

  .forthblock {
    background-image: url(images/forthblock.jpg);
    background-size: cover;
    height: 100vh;
    padding-top: 5%;
    padding-right: 40%;
    color: white;
    font-size: x-large;

    .forthblock-text {
      text-align: right;
    }
  }

  .popular-deals {
    .deals-text {
      height: 250px;
      width: 100%;
      text-align: center;
      padding-top: 100px;
    }
    .deal-content {
      .item {
        margin-left: 50px;
        img {
          width: 200px;
          height: 300px;
          object-fit: cover;
        }
        .contain {
          text-align: center;
          margin-top: 10px;
        }
      }
    }
  }
  .container {
    .row {
      padding-top: 50px;
      text-align: center;
      color: rgb(24, 1, 39);
      img {
        // padding-top: 50px;
        height: 300px;
        width: 300px;
      }
      .fortext {
        padding-top: 10px;
      }
      .box-1 {
        background-color: #39638a;
        color: white;
        margin-right: 50px;
        text-align: left;
        padding: 25px;

        h1 {
          font-size: 4em;
        }
        .row {
          .col-7 {
            color: white;
            text-align: left;
          }
          .white-box {
            border: 10px solid;
            // padding: 5px;
            color: white;
            padding-top: 40px;
            padding-left: 5px;
            // margin-left: 100px;
          }
        }
      }
      .box-2 {
        background-color: #aa3128;
        color: white;
        text-align: center;
        padding: 25px;

        h1 {
          font-size: 4em;
        }
      }
      .white-boxs {
        border: 10px solid;
        padding: 50px 30px;
        width: 100px;
        height: 150px;
        color: white;
        margin: 50px 150px;
        // text-align: center;
        // padding-top: 40px;
        // padding-left: 5px;
        // margin-left: 100px;
      }
    }
  }

  .mail-box {
    background-image: url(images/forest.jpg);
    background-size: cover;
    height: 80vh;
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 40px;
    padding-top: 100px;
    .row {
      // margin-top: 10%;
      width: 100%;
      .col-2 {
        input {
          margin-left: 30em;
          opacity: 0.1;
          color: white;
          height: 38px;
          width: 15em;
        }
      }
      .col-1 {
        margin-left: 30em;
        .btn {
          border: 2px solid white;
          background-color: #39638a;
        }
      }
    }
    .partner {
      padding-top: 120px;

      img {
        margin-left: 17px;
        height: 60px;
        width: auto;
      }
    }
  }
}

footer {
  background-color: rgb(74, 60, 90);
  height: 50vh;
  .logo {
    text-align: center;
    color: white;
    padding-top: 5em;
    img {
      height: 25px;
      margin: 5px;
    }
    h5 {
      padding-top: 1em;
      padding-bottom: 2em;
    }
  }
}
